[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/e-hat/imgui
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/TheCherno/glfw
[submodule "glfw"]
	url = https://github.com/glfw/glfw
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy
